html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.light-main {
  background-color: #e6d2eb;
  color: #1F2933;
  min-height: 90vh;
}

.light-footer {
  color: #1F2933;
  background-color: #fce1fc;
}

.dark-main {
  background-color: #41276b;
  min-height: 90vh;
  color: #F5F7FA;
}

.dark-footer {
  background-color: #4c3472;
  color: #F5F7FA;
}


.flex-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.dark-button {
  padding: 14px 32px;
  border-radius: 9999px;
  outline: none;
  border: none;
  background-color: #F5F7FA;
  color: #1F2933;
}

.light-button {
  padding: 14px 32px;
  border-radius: 9999px;
  outline: none;
  border: none;
  color: #F5F7FA;
  background-color: #1F2933;
}

.flex-between {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  min-height: 45px;
}

.light-nav > a {
  text-decoration: none;
  color: #1F2933;
}

.dark-nav > a {
  text-decoration: none;
  color: #E4E7EB;
}

.light-nav {
  background-color: #fce1fc;
}

.dark-nav {
  background-color: #4c3472;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}